= simple_form_for @word do |f|
  = f.input :content
  = f.association :language
  = f.button :submit, class: 'btn btn-primary'


-# %form{role: "form"}
-#   .form-group
-#     %label
-#       Email address
-#       %input#exampleInputEmail1.form-control{type: "email"}/
-#     .form-group
-#     %label
-#       Password
-#       %input#exampleInputPassword1.form-control{type: "password"}/
-#     %button.btn.btn-primary{type: "submit"}
-#       Submit
